<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生詳細</title>
</head>
<body>
<h1>受講生詳細</h1>
<form th:action="@{/updateStudent/{id}(id=${studentDetail.student.id})}" th:object="${studentDetail}" method="post">
  <div>
    <label for="id">ID：</label>
    <input type="text" id="id" th:field="*{student.id}" required/>
  </div>
  <div>
    <label for="fullName">名前：</label>
    <input type="text" id="fullName" th:field="*{student.fullName}" required/>
  </div>
  <div>
    <label for="furigana">フリガナ：</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム：</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required/>
  </div>
  <div>
    <label for="emailAddress">メールアドレス：</label>
    <input type="text" id="emailAddress" th:field="*{student.emailAddress}" required/>
  </div>
  <div>
    <label for="address">地域：</label>
    <input type="text" id="address" th:field="*{student.address}" required/>
  </div>
  <div>
    <label for="address">年齢：</label>
    <input type="text" id="age" th:field="*{student.age}">
  </div>
  <div>
    <label>性別：</label>
    <label><input type="radio" name="sex" th:field="*{student.sex}" value="男性"  required> 男性</label>
    <label><input type="radio" name="sex" th:field="*{student.sex}" value="女性"  required> 女性</label>
    <label><input type="radio" name="sex" th:field="*{student.sex}" value="その他"  required> その他</label>
  </div>
  <div>
    <label for="remark">備考：</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>
  <div th:each="course, stat : *{studentsCourses}">
    <label for="studentsCourseId"
           th:for="studentCourse.__${stat.index}__.id">受講コースID：</label>
    <input type="text" id="studentsCourseId"  th:id="studentCourse.__${stat.index}__.id"
           th:field="*{studentsCourses[__${stat.index}__].id}" required/>
    <label for="courseName"
           th:for="studentCourse.__${stat.index}__.courseName">受講コース名：</label>
    <input type="text" id="courseName"  th:id="studentCourse.__${stat.index}__.courseName"
           th:field="*{studentsCourses[__${stat.index}__].courseName}" required/>
  </div>
  <p></p>
  <div>
    <label for="isDeleted">キャンセル：</label>
    <input type="checkbox" id="isDeleted" th:field="*{student.isDeleted}"/>
  </div>
  <p></p>

  <div>
    <button type="submit">更新</button>
  </div>
</form>

</body>
</html>